---
import { Image } from 'astro:assets'
import '../styles/material/theme.css'
import Global from '../lib/Global.astro'
import Header from '../lib/Header.astro'
import Messages from '../lib/messages/Messages.svelte'
import background from '../assets/Background.png'
import speaker from '../assets/Speaker.png'

const base = import.meta.env.BASE_URL
const title = 'Alexander Bzikadze'
const messages = [
  'Hey!',
  'My name is Alexander Bzikadze! I am a Software Engineering Manager, based in Tokyo. My professional interests cover Teams Management,  Technical Leadership and Organization Design. I am also a pianist, D&D Game Master and Georgian cuisine enthusiast.',
  'It is a pleasure to welcome you!',
  'What would you like to learn next?',
]
---

<html class="h-screen" lang="en">
  <head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href=`${base}favicon.svg` />
    <!--
			Add [Material Icons](https://developers.google.com/fonts/docs/material_icons)
			New icons can be [searched for](https://fonts.google.com/icons)
		-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Add [Open Sans font](https://fonts.google.com/specimen/Open+Sans) -->
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" />
    <script src="@material/web/fab/fab"></script>

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body
    class="font-sans flex h-full flex-col justify-stretch bg-center bg-no-repeat backdrop-blur"
    style={`background-image: url(${background.src});`}>
    <Global />
    <Header class="w-full" {title} />
    <main class="h-full">
      <div class="flex h-full w-full justify-center">
        <div class="flex h-full max-w-[90%] flex-col
          items-center justify-between py-2 md:max-w-[50%]">
          <Messages client:only="svelte" {messages}>
            <Image slot="icon" src={speaker} alt="Speaker deliveres welcoming speech" />
          </Messages>
          <md-fab
            size="large"
            variant="tertiary"
            label="Your Blog"
            role="button"
            tabindex="0"
            on:click={() => alert('Not Implemented')}
            on:keyup={() => alert('Not Impelemnted')}>
            <span slot="icon" class="material-icons on-tertiary-container-text" aria-role="img" aria-label="send">
              send
            </span>
          </md-fab>
        </div>
      </div>
    </main>
  </body>
</html>
